/* styles.css */

body{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: xx-large;
	font-weight: lighter;
  
}

.paraone{
  font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: smaller;
  line-height: 1.25;
}
.paratwo{
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: smaller;
  line-height: 1.25;
}
.parathree{
    font-family:'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: smaller;
  line-height: 1.25;
}
.parafinal {
    font-family:'Franklin Gothic Extra Light', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  font-size: smaller;
  line-height: 1.25;
}

input[type="text"] {
    width: 1000px;
    height: 50px;
	font-size: 30px; 
}

.falling-container {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.falling-text {
  position: absolute;
  top: -50px; 
  width: 100%;
  text-align: center;
  animation: fall 4s linear infinite;
}

@keyframes fall {
  0% { transform: translateY(0); }
  100% { transform: translateY(450px); } 
}

