/* styles.css */

body{
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: xx-large;
}
input[type="text"] {
    width: 1000px;
    height: 50px;
	font-size: 30px; 
}
.div {
	transition: transform 0.5s ease-in-out;
}

